body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 70px;
  background-color: teal;
}

#clock {
  margin: 0 auto;
  padding: 30px;
  width: 225px;
  background-color: goldenrod;
  color: white;
  border: 3px solid black;
  border-radius: 40px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hours {
  font-size: 50px;
  display: inline;
}

.minutes {
  font-size: 50px;
  display: inline;
}

.seconds {
  font-size: 50px;
  display: inline;
}

.ampm {
  font-size: 25px;
  display: inline;
}
